@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$textLg:4rem;
$textMd:3rem;
$textSm:2rem;
$textXsm:1.5rem;

$textBold:700;
$textRegular:400;
$textLight:300;


.textCenter{
	text-align: center;
}

.textRight{
	text-align: right;
}

.textLeft{
	text-align: left;
}