.navFondo {
	border:double 5px $colorSecundario;
	background-color: $colorPrincipal;


	ul li a {
	text-decoration: none;
	color: white !important;
	font-family:'Roboto', sans-serif;
	width: 3rem;
	font-size:2rem;
	width: 100%;
	margin-right: 25px;
	margin-left:25px;

				&:hover{
				color: #D93A2B !important;
				}

			}

}



	
.transform:hover{
	transform: translateX(15px);
	cursor: pointer;
}

.transformlogo:hover{
	transform: scale(1.2);
	cursor: pointer;
	transition: 1s;
}

.btn-menu
{
    color: white;
    font-size: 25px;
    background: white;
}



.logo{
	width: 150px;
	border:double 6px $colorSecundario;
}
