//vars globales


$colorPrincipal:rgba(89, 35, 22, 1.0);
$colorPrincipalb:rgba(89, 35, 22, 0.8);
$colorSecundario:rgba(217, 187, 169, 1.0);
$fondo: url(../img/fondo.png);


//sizing
$normalizar: 62.5%